In [1]:
import pandas as pd
import xgboost as xgb
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
import matplotlib.pyplot as plt

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
data = pd.read_csv("data_04042024.csv").drop(['lw', 'can', 'sae'])
data['stacking'] = 1
data.head()

,0,1,2,3,4,5,6,7,8,9,...,143,144,145,146,147,148,149,lw,sae,can
0,0.055128,0.0,0.015385,0.067949,0.024359,0.020513,0.060256,0.028205,0.032051,0.030769,...,0.00277,0.00554,0.016620,0.008310,0.008310,0.011080,0.011080,cWW,19-XIX,True
1,0.050941,0.0,0.046512,0.040975,0.023256,0.035437,0.037652,0.036545,0.034330,0.037652,...,0.00000,0.00000,0.002392,0.000000,0.000000,0.002392,0.002392,cWW,19-XIX,True
2,0.052265,0.0,0.039489,0.045296,0.022067,0.032520,0.040650,0.034843,0.038328,0.038328,...,0.00000,0.00000,0.000000,0.047619,0.659148,0.060150,0.002506,cWW,20-XX,True
3,0.052265,0.0,0.049942,0.038328,0.022067,0.041812,0.034843,0.037166,0.032520,0.041812,...,0.00000,0.00000,0.005013,0.002506,0.000000,0.002506,0.002506,cWW,20-XX,True
4,0.050941,0.0,0.048726,0.037652,0.023256,0.033223,0.040975,0.040975,0.027685,0.042082,...,0.00000,0.00000,0.000000,0.002392,0.000000,0.000000,0.004785,cWW,19-XIX,True

In [6]:
non_data = pd.read_csv("DNATCO_stacking.csv")
non_data.head()

,0,1,2,3,4,5,6,7,8,9,...,141,142,143,144,145,146,147,148,149,stacking
0,0.042973,0.010453,0.0,0.039489,0.045296,0.015099,0.015099,0.024390,0.033682,0.019744,...,0.000000,0.002506,0.000000,0.005013,0.030075,0.295739,0.042607,0.005013,0.005013,0
1,0.048626,0.003171,0.0,0.007400,0.045455,0.029598,0.009514,0.012685,0.008457,0.039112,...,0.002268,0.000000,0.002268,0.002268,0.000000,0.000000,0.000000,0.002268,0.002268,0
2,0.033333,0.021795,0.0,0.000000,0.050000,0.032051,0.020513,0.010256,0.020513,0.029487,...,0.000000,0.005540,0.002770,0.011080,0.024931,0.027701,0.254848,0.127424,0.008310,0
3,0.034330,0.017719,0.0,0.001107,0.038760,0.042082,0.016611,0.018826,0.026578,0.048726,...,0.002392,0.002392,0.004785,0.000000,0.000000,0.000000,0.000000,0.000000,0.002392,0
4,0.039744,0.015385,0.0,0.005128,0.066667,0.024359,0.011538,0.010256,0.026923,0.034615,...,0.094183,0.318560,0.022161,0.005540,0.000000,0.000000,0.002770,0.000000,0.002770,0